/*colors: CEE5F2 ACCBE1 7C98B3 637081 536B78  */

h1{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    background-color: #7C98B3;
    color: white;
}

body{
    background-image: linear-gradient(to right,#CEE5F2, #536B78 )
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ACCBE1;
    padding: 1rem;
}

li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    padding: .5rem;
    background-color:#ACCBE1;
    box-shadow: 2px 2px 5px #000;
    margin: .2rem;
}

#photoId{
    margin: 1rem;
    width: 12rem;
    border: .1rem solid black;
    outline: .1rem solid #536B78;
    border-radius: 16px;
}

#homeMainTextId{
    background-color: #ACCBE1;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 10px 10px 20px #000;
    border-radius: .5rem;
}

a{
    color: white;
    padding: .3rem;
    margin: .2rem;
    background-color: #536B78;
    text-decoration: none;
    border-radius: .25rem;
}

a:hover{
    color: #CEE5F2;
    transform: scale(1.3);
}


#pageNavigationLinks{
    display: block;
    display: flex;
    justify-content: right;
}

.iconContainer{
    background-color: white;
    border-radius: 25%;
    height: 30px;
    width: 30px;
    background-color: transparent;

}

.socialMediaLinks{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
}

#linkedInIcon{
    background-color: transparent;
}

#contactForm{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formSection{
    display: flex;
    width: 100%;
    justify-content: center;
}

#contactIntroSection{
    display: flex;
    width: 100%;
    justify-content: center;
}

#submitButton{
    margin-top: 2vh;
}